{{/*
  Footer Navigation Molecule

  Displays footer quick links menu and social links
  - Social media links with icons
  - Quick links from footer menu

  Usage:
    {{ partial "molecules/footer-nav.html" . }}
*/}}

<div class="col-lg-3 col-md-6 col-sm-6 mt-5 mt-sm-0">
  <div class="footer-widget">
    <h4 class="mb-4">{{ T `socials` }}</h4>

    {{/* Email Link */}}
    {{ with site.Params.contact_info.email }}
      <ul class="footer-links list-unstyled mb-4">
        {{ range first 1 . }}
          {{ if . }}
            <li><a href="mailto:{{ . }}">{{ . }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}

    {{/* Social Media Links */}}
    <ul class="social-links list-inline">
      {{ with site.Data.social.facebook }}
        {{ if . }}
          <li class="list-inline-item">
            <a target="_blank" aria-label="Facebook" rel="nofollow noopener" href="{{ . | safeURL }}">
              <i class="lab la-facebook-f"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
      {{ with site.Data.social.instagram }}
        {{ if . }}
          <li class="list-inline-item">
            <a target="_blank" aria-label="Instagram" rel="nofollow noopener" href="{{ . | safeURL }}">
              <i class="lab la-instagram"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
      {{ with site.Data.social.tiktok }}
        {{ if . }}
          <li class="list-inline-item">
            <a target="_blank" aria-label="TikTok" rel="nofollow noopener" href="{{ . | safeURL }}">
              <i class="lab la-tiktok"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
      {{ with site.Data.social.youtube }}
        {{ if . }}
          <li class="list-inline-item">
            <a target="_blank" aria-label="YouTube" rel="nofollow noopener" href="{{ . | safeURL }}">
              <i class="lab la-youtube"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
      {{ with site.Data.social.linkedin }}
        {{ if . }}
          <li class="list-inline-item">
            <a target="_blank" aria-label="LinkedIn" rel="nofollow noopener" href="{{ . | safeURL }}">
              <i class="lab la-linkedin"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
      {{ with site.Data.social.twitter }}
        {{ if . }}
          <li class="list-inline-item">
            <a target="_blank" aria-label="Twitter" rel="nofollow noopener" href="{{ . | safeURL }}">
              <i class="lab la-twitter"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>

<div class="col-lg-2 col-md-6 col-sm-6 mt-5 mt-lg-0">
  <div class="footer-widget">
    <h4 class="mb-4">{{ T `quick_links` }}</h4>

    {{/* Quick Links from Footer Menu */}}
    <ul class="footer-links list-unstyled">
      {{ range site.Menus.footer }}
        <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
