{{/* Self-contained script partial for atomic design architecture */}}
{{/* No Bootstrap JS or jQuery dependencies - pure vanilla JS */}}

{{/* Main theme scripts - only include existing JS files */}}
{{ $scripts := slice }}

{{/* Add existing theme JavaScript files */}}
{{/* Removed: js/gsap-enhancements.js (GSAP library not loaded, Phase 7) */}}
{{/* Added: js/magnetic-buttons.js (Design Excellence - Tier 2) */}}
{{ range (slice "js/vanilla-collapse.js" "js/vanilla-dropdown.js" "js/values-compass-interactions.js" "js/stats-counter.js" "js/scroll-animations.js" "js/aos-compat.js" "js/back-to-top.js" "js/cookie-consent.js" "js/cookie-modal.js" "js/emergency-banner.js" "js/language-selector.js" "js/blog-grid-filter.js" "js/magnetic-buttons.js" "js/stagger-reveal.js") }}
  {{ $resource := resources.Get . }}
  {{ if $resource }}
    {{ $scripts = $scripts | append $resource }}
  {{ end }}
{{ end }}

{{/* Concatenate and minify if we have scripts */}}
{{ if gt (len $scripts) 0 }}
  {{ $bundled := $scripts | resources.Concat "js/bundle.js" | minify | fingerprint "sha512" }}
  <script crossorigin="anonymous" defer="defer" integrity="{{ $bundled.Data.Integrity }}" type="application/javascript">{{ $bundled.Content | safeJS }}</script>
{{ end }}

{{/* Font loading via CSS @import only (see _design-system.scss or _tokens-typography.scss) */}}

{{/* Optional partials - only include if they exist */}}
{{ with site.Params.pwa }}
  {{ partialCached "pwa.html" $ }}
{{ end }}

{{ with site.Params.cookies }}
  {{ partialCached "cookie-consent.html" $ }}
{{ end }}

{{ with site.Params.google_adsense }}
  {{ partialCached "adsense-script.html" $ }}
{{ end }}
