{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-content-center" data-aos="fade-in">
        <div class="col-lg-4 col-md-10 order-1 order-lg-0 mt-5 mt-lg-0">
          <div class="mb-5">
            <h2 class="text-black-200 mb-2">{{ .Title | markdownify }}</h2>
            <p class="text-primary">{{ .Params.job_nature | markdownify }}</p>
          </div>

          <form
            action="{{ site.Params.career_form_action }}"
            method="POST"
            class="needs-validation"
            novalidate>
            <div class="form-group mb-4">
              <label class="mb-2" for="name"
                >{{ T `fname` }}<span class="text-primary">*</span></label
              >
              <input
                class="form-control shadow-none"
                id="name"
                type="text"
                placeholder="{{ T `fname` }}"
                required />
              <p class="font-weight-bold invalid-feedback">
                {{ T `name_re` }}
              </p>
            </div>
            <div class="form-group mb-4">
              <label class="mb-2" for="last-name"
                >{{ T `lname` }}<span class="text-primary">*</span></label
              >
              <input
                class="form-control shadow-none"
                id="last-name"
                type="text"
                placeholder="{{ T `lname` }}"
                required />
              <p class="font-weight-bold invalid-feedback">
                {{ T `name_re` }}
              </p>
            </div>
            <div class="form-group mb-4">
              <label class="mb-2" for="email"
                >{{ T `email` }}<span class="text-primary">*</span></label
              >
              <input
                class="form-control shadow-none"
                id="email"
                type="email"
                placeholder="{{ T `email` }}"
                required />
              <p class="font-weight-bold invalid-feedback">
                {{ T `email_re` }}
              </p>
            </div>
            <div class="form-group">
              <label class="mb-2" for="cv"
                >{{ T `upload_cv` }}<span class="text-primary"
                  >*</span
                ></label
              >
              <input
                class="form-control"
                type="file"
                name="cv"
                id="cv"
                required />
              <small class="d-block">{{ T `cv_note` }}</small>
              <p class="font-weight-bold invalid-feedback">
                {{ T `cv_re` }}
              </p>
            </div>

            <button
              class="btn btn-primary w-100 mt-4"
              type="submit"
              aria-label="{{ T `apply_job` }}">
              {{ T `apply_job` }}
            </button>
          </form>
        </div>
        <div class="col-lg-7 col-md-10 order-0 order-lg-1">
          <div class="ps-0 ps-lg-5">
            <h3 class="text-primary mb-4">{{ T `about_the_role` }}</h3>
            <div class="content">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
