// button style
.btn {
  padding: 0.875rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.375rem;
  transition: all $duration-fast $easing-subtle;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 0;

  &:active,
  &:focus {
    box-shadow: none !important;
  }

  &.btn-sm {
    padding: 0.625rem 1.25rem;
  }

  &::after {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba($black, 0.1);
    z-index: -1;
    transition: all $duration-base $easing-strong;
    border-radius: 0.375rem;
  }
  &:hover,
  &:active,
  &:focus {
    box-shadow: $shadow-md;
    &::after {
      height: 100%;
      top: auto;
      bottom: 0;
    }
  }

  &.btn-primary {
    background-color: $color-primary !important;
    border: 0;
    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }

  &.btn-outline-primary {
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: transparent !important;
    &::after {
      background-color: $color-primary !important;
    }
    &:hover,
    &:active,
    &:focus {
      color: $white;
      border-color: transparent !important;
    }
  }
}
