{{/* Contact Info Cards Section */}}
{{ with .Params.contact_methods }}
<section class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          {{ range . }}
          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-method-card">
              <div class="text-center">
                {{ if .link }}
                  <a href="{{ .link }}" class="contact-icon-link">
                    <div class="contact-icon">
                      <i class="{{ .icon }}"></i>
                    </div>
                  </a>
                {{ else }}
                  <div class="contact-icon">
                    <i class="{{ .icon }}"></i>
                  </div>
                {{ end }}
                {{ partial "atoms/heading.html" (dict "level" "h4" "text" .title "class" "mb-2") }}
                {{ if .link }}
                  <a href="{{ .link }}" class="text-dark mb-1 fw-bold text-decoration-none d-block hover-link">{{ .info }}</a>
                {{ else }}
                  <p class="text-dark mb-1 fw-bold">{{ .info }}</p>
                {{ end }}
                <small class="text-muted">{{ .subtitle }}</small>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
