{{/* Pricing Tables Section - Originally from Services */}}
{{ $pricing := .Params.pricing_section }}
{{ if not $pricing }}
  {{ $pricing = .Params.pricing }}
{{ end }}

{{ with $pricing }}
  {{ if .enable }}
    <section class="section" data-aos="fade-in" data-aos-delay="150">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mb-5">
            <!-- pricing toggle -->
            {{ $toggle:= $.Params.monthly_yearly_toggle }}
            {{ if eq $toggle "toggle" }}
              <div
                class="pricing-switch d-flex align-items-center justify-content-center w-100 mb-4">
                {{ partial "atoms/heading.html" (dict "level" "h5" "text" (T "monthly") "class" "m-0" "id" "monthly") }}
                <div class="toggle">
                  <input class="pricing-check" type="checkbox" /><b
                    class="switch"></b>
                </div>
                {{ partial "atoms/heading.html" (dict "level" "h5" "text" (T "yearly") "class" "m-0" "id" "annually") }}
              </div>
            {{ end }}
            {{ with $.Params.offer }}
              <span class="text-primary py-2 px-3 rounded-3 bg-light">{{ . | markdownify }}</span>
            {{ end }}
          </div>
        </div>
        <div class="row justify-content-xl-center">
          <div class="col-xl-10">
            <div class="row">
              {{ range $.Params.pricing_card }}
                <div class="col-lg-4 col-md-6 mt-4">
                  {{ partial "molecules/card.html" (dict
                    "variant" "pricing"
                    "title" .name
                    "currency" .currency
                    "priceMonthly" .monthly_price
                    "priceYearly" .yearly_price
                    "period" (cond .monthly_price (printf "/%s" (T "month")) (printf "/%s" (T "year")))
                    "description" .content
                    "features" .services
                    "featured" .featured
                    "button" (dict
                      "text" .button_label
                      "href" (.button_link | absLangURL)
                    )
                  ) }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
