{{/* Enhanced Signup Form Section */}}
<section class="section user-access">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-4 col-md-7 col-sm-10 col-11" data-aos="fade-up">
        <div class="text-center">
          {{ partial "atoms/heading.html" (dict
            "text" (.Params.welcome_title | default "Bun venit în spațiul tău sigur")
            "level" 3
            "align" "center"
            "class" "mb-4"
          ) }}
          <p class="mb-4">{{ .Content }}</p>
          
          {{/* Account benefits */}}
          {{ with .Params.account_benefits }}
          <div class="text-start bg-light rounded p-4 mb-4">
            {{ partial "atoms/heading.html" (dict
              "text" "Ce vei primi:"
              "level" 5
              "class" "mb-3"
            ) }}
            <ul class="list-unstyled">
              {{ range . }}
              <li class="mb-2">
                {{ partial "atoms/icon.html" (dict "name" "check" "color" "primary") }} {{ . }}
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
          
          <div class="mt-4">
            {{ partial "image.html" (dict "Src" .Params.image "Alt" "sign up banner" "Size" "475x") }}
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-8 col-sm-10 col-11 user-access-form" data-aos="fade-up" data-aos-delay="150">
        {{ partial "atoms/heading.html" (dict
          "text" "Creează-ți Contul"
          "level" 3
          "align" "center"
          "class" "mb-4"
        ) }}

        {{ with site.Params.career_form_action }}
        <form action="{{ . }}" method="POST">
          {{ partial "atoms/input.html" (dict
            "type" "text"
            "name" "fname"
            "id" "fname"
            "label" "Nume complet"
            "required" true
            "class" "mb-3"
          ) }}

          {{ partial "atoms/input.html" (dict
            "type" "email"
            "name" "email"
            "id" "email"
            "label" "Email"
            "required" true
            "class" "mb-3"
          ) }}

          {{ partial "atoms/input.html" (dict
            "type" "password"
            "name" "password"
            "id" "password"
            "label" "Parolă"
            "required" true
            "helpText" "Minim 8 caractere"
            "class" "mb-3"
          ) }}

          {{ partial "atoms/input.html" (dict
            "type" "tel"
            "name" "phone"
            "id" "phone"
            "label" "Telefon (opțional)"
            "class" "mb-3"
          ) }}

          {{ partial "atoms/input.html" (dict
            "type" "checkbox"
            "name" "terms"
            "id" "terms"
            "label" (`Accept <a href="/terms-and-conditions/">termenii și condițiile</a> și <a href="/privacy/">politica de confidențialitate</a>` | safeHTML)
            "required" true
            "class" "mb-3"
          ) }}

          {{ partial "atoms/input.html" (dict
            "type" "checkbox"
            "name" "newsletter"
            "id" "newsletter"
            "label" "Doresc să primesc resurse și sfaturi terapeutice (opțional)"
            "class" "mb-4"
          ) }}

          {{ partial "atoms/button.html" (dict
            "text" "Creează Cont"
            "type" "submit"
            "variant" "primary"
            "fullWidth" true
          ) }}
        </form>
        {{ end }}
        
        <div class="text-center mt-4">
          <small>Ai deja cont? <a href="/signin/">Conectează-te aici</a></small>
        </div>
      </div>
    </div>
  </div>
</section>
