{{/* Values Section - Originally from Career/Corporate page */}}
{{ $values := .Params.values_section }}
{{ if not $values }}
  {{ $values = .Params.our_values }}
{{ end }}

{{ with $values }}
  {{ if .enable }}
    <section class="section pb-0">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5" data-aos="fade-up">
            <div class="section-title mb-0">
              <p class="text-uppercase">{{ .subtitle | markdownify }}</p>
              {{ partial "atoms/heading.html" (dict "level" "h2" "text" .title "class" "title" "markdown" true) }}
              <p>{{ .description | markdownify }}</p>
              {{ if .button_link }}
                {{ partial "atoms/button.html" (dict
                  "text" .button_label
                  "href" .button_link
                  "variant" "primary"
                  "class" "mt-4"
                ) }}
              {{ end }}
            </div>
          </div>
          <div
            class="col-lg-5 mt-3 mt-lg-0"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="ps-0 ps-lg-4">
              {{ partial "atoms/image.html" (dict "src" .image "alt" "our value" "size" "560x") }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
