{{/* Video Popup Section - Originally from Services */}}
{{ $video := .Params.video_section }}
{{ if not $video }}
  {{ $video = .Params.how_it_works_video }}
{{ end }}

{{ with $video }}
  {{ if .enable }}
    <section class="section pb-0 video-popup">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="block">
              <div class="section-title text-center" data-aos="fade-up">
                <p class="text-uppercase">{{ .subtitle | markdownify }}</p>
                <h2 class="title">{{ .title | markdownify }}</h2>
                <p>{{ .description | markdownify }}</p>
              </div>

              {{ partial "molecules/video-embed.html" (dict
                "url" .video_url
                "thumbnail" .video_thumbnail
                "title" .title
                "size" "700x"
                "aos" "fade-up"
                "aosDelay" 100
              ) }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
