{{ define "main" }}
  {{ partial "components/page-header.html" . }}


  <section class="section" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-5">
          <!-- pricing toggle -->
          {{ $toggle:= .Params.monthly_yearly_toggle }}
          {{ if eq $toggle "toggle" }}
            {{ partial "molecules/pricing-toggle.html" (dict "class" "mb-4") }}
          {{ end }}
          {{ with .Params.offer }}
            <span
              class="text-primary py-2 px-3 rounded-3"
              style="background:#f9f9f9;"
              >{{ . | markdownify }}</span
            >
          {{ end }}
        </div>
      </div>
      <div class="row justify-content-xl-center">
        <div class="col-xl-10">
          <div class="row">
            {{ range .Params.pricing_card }}
              <div class="col-lg-4 col-md-6 mt-4">
                {{ partial "molecules/card.html" (dict
                  "variant" "pricing"
                  "title" .name
                  "currency" .currency
                  "priceMonthly" .monthly_price
                  "priceYearly" .yearly_price
                  "period" (cond .monthly_price (printf "/%s" (T "month")) (cond .yearly_price (printf "/%s" (T "year")) ""))
                  "description" .content
                  "features" .services
                  "featured" .featured
                  "button" (dict
                    "text" .button_label
                    "href" (.button_link | absLangURL)
                  )
                ) }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ $jquery := resources.Get "plugins/jquery/jquery.min.js" | resources.Fingerprint }}
  <script crossorigin="anonymous" src="{{ $jquery.RelPermalink }}"></script>
  <script>
    // pricing
    if ($(".pricing-check").length !== 0) {
      // pricing init
      var toggleSwitch = $(".pricing-check");
      var dataCount = $(".data-count");
      $(toggleSwitch).change(function () {
        if ($(toggleSwitch).is(":checked")) {
          dataCount.each(function () {
            $(this).html($(this).data("count-annually"));
            $(this)
              .prop("Counter", 999)
              .animate(
                {
                  Counter: $(this).text(),
                },
                {
                  duration: 250,
                  easing: "swing",
                  step: function (now) {
                    $(this).text(Math.ceil(now));
                  },
                }
              );
          });
          $(".text-monthly").addClass("d-none").removeClass("d-inline");
          $(".text-annually").addClass("d-inline").removeClass("d-none");
        } else if ($(toggleSwitch).is(":not(:checked)")) {
          dataCount.each(function () {
            $(this).html($(this).data("count-monthly"));
            $(this)
              .prop("Counter", 999)
              .animate(
                {
                  Counter: $(this).text(),
                },
                {
                  duration: 250,
                  easing: "swing",
                  step: function (now) {
                    $(this).text(Math.ceil(now));
                  },
                }
              );
          });
          $(".text-monthly").addClass("d-inline").removeClass("d-none");
          $(".text-annually").addClass("d-none").removeClass("d-inline");
        }
      });
    }
  </script>
{{ end }}
